form.project-row input {
    padding: 2px 5px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    font-family: "Source Sans Pro", Avenir, Helvetica, Arial, sans-serif;
}