.project-list {
}

.project-list .wrapper {
    position: relative;
    padding: 60px 0;
    display: grid;
}

.project-row {
    display: flex;
    width: 100%;
    background-color: #FDFDFD;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    gap: 24px;
    padding: 0 24px;
    align-items: center;
    height: 70px;
}

.project-row .icon {
    width: 32px;
    height: 32px;
}

.project-row .name {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.7);
    min-width: 250px;
}

.project-row .details {
    flex-grow: 1;
    display: flex;
}

.project-row .actions {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
}

.icon-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.icon-button:hover svg.icon * {
    fill-opacity: 0.6;
}

.project-row .created-date {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.5);
}

.project-row input {
    padding: 2px 5px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    font-family: "Source Sans Pro", Avenir, Helvetica, Arial, sans-serif;
}

.project-row .mobile-only.icon-button {
    display: none;
}

.dragging .project-row {
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.15);
}

.edit-button svg.icon * {
    fill-opacity: 0.5;
}

.edit-button:hover svg.icon * {
    fill-opacity: 0.8;
}

@media screen and (max-width: 650px) {
    .project-list {
        margin-top: 124px;
    }

    .project-row {
        height: 86px;
    }
    .project-row .details {
        flex-direction: column;
    }

    .project-row .details .icon-button {
        display: none;
    }

    .project-row .details.showing-rename .created-date {
        display: none;
    }

    .project-row .details .created-date {
        justify-content: flex-start;
    }

    .project-row .mobile-only.icon-button {
        display: flex;
    }
}
