.wrapper {
    display: flex;
    flex-direction: column;
    color: white;
    max-width: 900px;
    margin: 0 auto;
}

.loading {
    position: relative;
}


.loading.top {
    position: static;
}

.loading:after {
    content: " ";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3px;
    animation: loading 3s ease-in-out infinite;
    background-color: #75b800;
    border-radius: 3px;
    z-index: 1;
}

.loading.top:after {
    bottom: auto;
    top: 0;
}

.button {
    border: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    height: 32px;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
    cursor: pointer;
}

.button.secondary {
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: transparent;
}

.button.secondary:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.button.primary {
    background-color: #1890FF;
    color: #FFFFFF;
    transition-duration: 0.2s;
}

.button.primary:hover {
    background-color: #358ad7;
}

@keyframes loading {
    0% {
        left: 0;
        right: 100%;
    }
    50% {
        left: 0;
        right: 0;
    }
    90% {
        left: 100%;
        right: 0;
        opacity: 1;
    }
    95% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        left: 0;
        right: 100%;
    }
}