:root {
  font-family: "Source Sans Pro", Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #F7F9FD;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
  transition-duration: 0.2s;
}

body {
  padding: 0;
  margin: 0;
}

svg.icon * {
  fill: black;
  fill-opacity: 0.1;
}

svg.icon:hover {
  fill: black;
  fill-opacity: 0.6;
}