.logo {
    width: 32px;
    height: 32px;
}

.header {
    background-color: #F7F9FD;
    color: #424242;
    height: 124px;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.203436);
}

.header .wrapper {
    text-align: left;
    padding: 12px 0;
    height: 100%;
    justify-content: space-between;
}

.header h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 36px;
    /* or 225% */

    letter-spacing: 0.8px;
    padding: 0 12px;
    text-transform: uppercase;
    color: #424242;
}

@media screen and (max-width: 650px) {
    .header .wrapper {
        padding: 20px 20px 0 20px;
    }

    .header {
        position: fixed;
        width: 100%;
        height: 124px;
        top: 0;
        left: 0;
        z-index: 100;
    }
}